{% include "header.html" %}
<div style="width: 1200px; margin: 50px auto">
    <div class="container">
        <h1 class="mt-5 mb-3">Бүтээгдэхүүн</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="{{ MEDIA_URL }}uploads/{{ product.image }}" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }}₮</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Add more product cards as needed -->
        </div>
    </div>
</div>
{% include "footer.html" %}